@CHARSET "UTF-8";
/* 基础样式 */
.fl{ float: left; }
.fr{ float: right;}
.db{ display:block;}
.w12{width:1200px;
margin:0 auto;}
#codes{ display: inline-block;
        height: 34px;
    	width: 98px;}
div{
	background:none;}
/*开始*/
body{
	margin:0 auto;
	background:url(../images/bg.jpg) center top;
	font-size:14px;
	font-family:"微软雅黑", Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif;
	color:#666;}
header{
	background:#fff;
	width:100%;
	height:auto;
	}
.logo{
	padding:20px auto 20px 20px;}
.logofr{
	margin-top:25px;
	padding-right: 20px;
color: #666;
line-height: 25px;
text-align: right;}
.logofr a{
	color:#666;}
.logofr a:hover{
	color:#007dcd;
	text-decoration:underline;}
.header{
	margin:0 auto;
	height:98px;
	}
.head_border{
	width:100%;
	background:url(../images/top.png) repeat-x;
	height:11px;}
.login{
	height:60px;
	line-height:60px;
	padding-right:10px;
	color:#333;}
.logbtn{
	color:#333;
width: 76px;
line-height: 40px;
margin-top: 8px;
height: 40px;
text-align: center;
border: solid 1px #333;
-moz-border-radius: 5px;
-webkit-border-radius: 5px;
border-radius: 5px;
}	
a.logbtn:hover{
	color:#fff;
	border-color:#fff;}
	
body{ padding:0px; margin:0px;font-family:Microsoft YaHei; font-size:12px;}
.box{ width:960px;  margin:0px auto;margin-top:100px;}
.top{ border-bottom: 6px solid #1688ce; padding-top:62px; padding-bottom:28px; float:left; width:100%;margin-bottom:120px;}
.logo{ width:510px; float:left;}
.email{ font-size:14px; float:right; text-align:right; width:300px; padding-top:15px;}
.main{ width:100%; }
.left{ float:left; width:570px;}
.right{ float:right; width:345px;padding:1px; height:315px; background:#cfcfcf;}
.r1{background:#fff; padding:1px; height:313px;}
.r2{background:#f6f6f6; padding:2px; height:309px;}
.r3{ background:#fff; height:283px; padding-top:26px; padding-left:30px;}
.zhuce a{text-decoration: underline; color:#1f4e8b;}
.pt{ padding-bottom:16px;#padding-bottom:14px;}
.pt1{padding-bottom:16px;#padding-bottom:0px}
.srk{ background:#ecf6fb; border:solid #93afc6 1px; line-height:29px; height:29px; width:190px;}
.srk1{ background:#ecf6fb; border:solid #93afc6 1px; line-height:29px; height:29px; width:95px;}
.name{ line-height:31px; font-size:13px; text-align:left}
.foot{ width:100%; float:left; text-align:center; padding-top:30px; border-top:1px solid #c0c1c1; margin-top:120px;}
